<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#f72727">Translate Together</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">ExpressEntry<span class="sr-only">(current)</span></a></li> -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Express Entry <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Home', numOfPara: 8})">Home: How it works</a></li>

            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Become_a_candidate', numOfPara: 6})">
              Become a candidate</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'Who_can_apply', numOfPara: 6})">- Who can apply</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'Submit_your_profile', numOfPara: 18})">- Submit your profile</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'How_the_pool_works', numOfPara: 8})">- How the pool works</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'Understand_the_ranking_system', numOfPara: 7})">- Understand the ranking system</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'Rounds_of_invitations', numOfPara: 6})">- Rounds of invitations</a></li>
            <li><a ui-sref="fourParameters({category:'ExpressEntry', para1:'Become_a_candidate', para2:'Invitations_to_apply', numOfPara: 11})">- Invitations to apply</a></li>

            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'After_you_apply', numOfPara: 10})">After you apply</a></li>
            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Prepare_for_your_arrival', numOfPara: 8})">Prepare for your arrival</a></li>

            <li role="separator" class="divider"></li>
            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Federal_skilled_workers', numOfPara: 10})">Federal Skilled Workers</a></li>

            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Federal_skilled_trades', numOfPara: 14})">Federal Skilled Trades</a></li>

            <li><a ui-sref="threeParameters({category:'ExpressEntry', para1:'Canadian_experience_class', numOfPara: 10})">Canadian Experience Class</a></li>

          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            LMIA <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#">they</a></li>
            <li><a href="#">will</a></li>
            <li><a href="#">be ready soon</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">thanks!</a></li>
          </ul>
         </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            BCPNP <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#">they</a></li>
            <li><a href="#">will</a></li>
            <li><a href="#">be ready soon</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">thanks!</a></li>
          </ul>
         </li>

         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             MPNP <span class="caret"></span></a>

           <ul class="dropdown-menu">
             <li><a href="#">they</a></li>
             <li><a href="#">will</a></li>
             <li><a href="#">be ready soon</a></li>
             <li role="separator" class="divider"></li>
             <li><a href="#">thanks!</a></li>
           </ul>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li ng-show="mainCtrl.firebaseUser"> <a><span ng-show="mainCtrl.users[mainCtrl.firebaseUser.uid].contribution">You've earned {{mainCtrl.users[mainCtrl.firebaseUser.uid].contribution}} points! </span>Thanks, {{ mainCtrl.firebaseUser.displayName }} </a> </li>
        <li class="dropdown">

          <a ng-show="mainCtrl.firebaseUser" ng-click="mainCtrl.auth.$signOut()"> Sign Out</a>

          <a ng-hide="mainCtrl.firebaseUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome, Please log in<span class="caret"></span></a>

          <div class="dropdown-menu">
            <a ng-click="mainCtrl.auth.$signInWithPopup('google')" class="btn btn-block btn-social btn-google">
              <span class="fa fa-google"></span> Sign in with Google
            </a>
            <a ng-click="mainCtrl.auth.$signInWithPopup('facebook')" class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <a ng-click="mainCtrl.auth.$signInWithPopup('twitter')" class="btn btn-block btn-social btn-twitter">
              <span class="fa fa-twitter"></span> Sign in with Twitter
            </a>
            <!-- <li role="separator" class="divider"></li> -->

          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


</nav>
