

<dir-nav></dir-nav>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Translate Together!</h1>
                        <h2>Translate collaboratively with others for immigration to Canada</h2>
                        <h3>Want to contribute? please log in first :) </h3> <br>



                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('google')" class="btn btn-default btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                              </a>
                            </li>
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('facebook')" class="btn btn-default btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                              </a>
                            </li>
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('twitter')" class="btn btn-default btn-social btn-twitter">
                                <span class="fa fa-twitter"></span> Sign in with Twitter
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
        <div class="container"> <br><br><br>
          <p>2016-2017 KYUBIN HAN ALL RIGHTS RESERVED.</p>
        </div>
    </div>
    <!-- /.intro-header -->
