

<dir-nav></dir-nav>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Translate Together!</h1>
                        <h2 class="topPadding">Translate documents collaboratively to achieve the same goal!</h2>
                        <h3 ng-hide="mainCtrl.firebaseUser">Ready to contribute? please log in first :) </h3>
                        <ul ng-hide="mainCtrl.firebaseUser" class="list-inline intro-social-buttons">
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('google')" class="btn btn-default btn-social btn-google">
                                <span class="fa fa-google"></span>Sign in with Google
                              </a>
                            </li>
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('facebook')" class="btn btn-default btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                              </a>
                            </li>
                            <li>
                              <a ng-click="mainCtrl.auth.$signInWithPopup('twitter')" class="btn btn-default btn-social btn-twitter">
                                <span class="fa fa-twitter"></span> Sign in with Twitter
                              </a>
                            </li>
                            <!-- <li> or go to</li>
                            <li>
                              <a class="btn btn-default"> Express Entry </a>
                            </li>  -->
                        </ul>
                        <h3 class="topPadding"> <span ng-hide="mainCtrl.firebaseUser">or</span> <span ng-show="mainCtrl.firebaseUser">All right! let's</span> check out </h3>

                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <a style="background-color: #e7e7e7;" ui-sref="threeParameters({category:'ExpressEntry', para1:'Home', numOfPara: 8})" class="btn btn-default btn-social"><span class="fa fa-folder-open"></span> Express Entry
                              </a>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
        <div class="container"> <br><br><br>
          <p>Copyright &copy; 2016-2017 Kyubin Han All Rights Reserved.</p>
        </div>
    </div>
    <!-- /.intro-header -->
